
.text{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.box1{
    background-image: url("/src/images/Citizen-Journalist.jpg");
    background-size: cover;
    height: 450px;
    color: white;
}
.boxInBox{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 40%;
}
.ahref a{
    color: cornflowerblue;
}
.box1 h1{
    padding: 200px 0 0 290px;
    font-size: 40px;
    margin: 0;
}
.contentImage{
    width: 100%;
    height: 300px;
}
.img{
    width: 100%;
}
p{
    color: white;
    margin: 20px 0;
    padding: 0 40px;
    font-size: 20px;
}
h1{
    color: white;
    margin: 20px 0;
    padding: 0 40px;
}

.video{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-content: center;
}
@media screen and (max-width: 550px){
    .video{
        width: 80%;
        height: 30%;
    }
    .box1{
        background-size: cover;
        height: 200px;
        color: white;
    }
    .boxInBox{
        width: 100%;
        height: 100%;
        background: black;
        opacity: 40%;
    }
    .box1 h1{
        padding: 80px 0 0 0;
        font-size: 30px;
        margin: 0;
    }
}