.app-wrapper {
    display: grid;
    max-width: 1100px;
    min-height: 100%;
    margin: 0 auto;
    grid-template-areas: 'c n';
    grid-template-rows: 120% 1fr;
    grid-template-columns: 100%;
    grid-gap: 10px;
}

.components{

}

body{
    color: white;
    background: linear-gradient(180deg, rgba(41, 44, 52, 0.91) 100%, rgba(14, 14, 19, 0.78) 100%);
    min-height: 100%;
}

.app-wrapper-content {
    grid-area: c;
    color: #001078;
}
.content{
    background: transparent;
}



@media screen and (max-width: 500px){

}
